<%- include('../partials/header.ejs') %>
<body>
<h1>Atividades</h1>
<a href="/fibonacci">1. fibonacci.js</a>
<hr>
<a href="">2. classificador.js</a>
<hr>
<a href="">3. faxina.js</a>
<hr>
<a href="">4. validade.js</a>
<hr>
<a href="">5. molduras.js (EXTRA, OPCIONAL)</a>
</body>
<%- include('../partials/footer.ejs') %>